.upd-element {
    border: dashed gray;
    width: 99%;
    background-image: linear-gradient(gray, white);
}

.content {
    position: fixed;
    bottom: 0px;
    top: 15%;
    left: 20%;
    right: 0%;
}

.sidebar {
    position: fixed;
    background-color: gray;
    border-color: black;
    bottom: 0px;
    text-align: left;
    display: block;
    background-image: linear-gradient(black, gray);
    color: white;
    width: 20%;
    top: 15%;
    left: 0%;
}

.header {
    position: fixed;
    height: 15%;
    width: 100%;
    left: 0%;
    top: 0%;
    background-color: gray;
    color: white;
    text-align: center;
}

.upd-list {
    overflow-y: scroll;
    width: 90%;
    height: calc(100% - 200px);
}